.footerContainer{
   background-color: black;
    padding: 10px 10px;
    
   
    
}
.linkStyle{
    text-decoration: none;
    color: antiquewhite;
}
.linkStyle:hover{
    font-size: 17px;
    text-decoration: underline;
}
.copyRightTxt{
    /* color:#DEDEDE; */
    /* color:#D1D0D0; */
    color: white ;
}